<header
  class="flex flex-col gap-4 sm:flex-row justify-between items-center w-full px-4"
>
  <div class="w-full">
    <h1 class="text-lg font-semibold">About</h1>
    <div class="opacity-80 mb-4">
      <p>
        Hey, I’m Hak — a curious creator who loves building things from scratch.
      </p>
      <p>
        I spend most of my time coding, learning languages, playing piano, and
        staying active through calisthenics.
      </p>
      <p>
        This site is where I share the projects I make as I chase my dreams and
        grow along the way.
      </p>
    </div>

    <app-socials />
  </div>
  <img src="me.JPEG" alt="A picture of Hakeem" class="sm:size-64 :size-96"/>
</header>
