@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "Portfolio";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(0.15 0.0046 264.43);
  --color-base-200: oklch(0.18 0.0038 229.04);
  --color-base-300: #16191B;
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(0.41 0.1549 281.76);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(35% 0 0);
  --color-secondary-content: oklch(97% 0.021 166.113);
  --color-accent: oklch(40% 0.153 2.432);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(37% 0.01 67.558);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
